 <%= render 'layouts/header' %>

  <div class="container-fluid main-wrapper">
    <div class="row">
      <!-- HOME SLIDER -->
      <div class="home col-md-12 no-padding">
        <div class="home-slider home-slider-half-page">
          <div class="swiper-wrapper">
            <div class="swiper-slide home-slider-centered" style="background-image:url(assets/petitchat1.jpg)">
                <h1 class="light wow fadeInDown text-center"><span class="small dark-with-shadow">Un petit Chat</span><br> <span class="light-with-shadow">Tout Mignon</span></h1>
                <a class="btn btn-primary wow fadeInUp mt-30">browse <span class="ti-arrow-right light"></span></a>
            </div>

            <div class="swiper-slide home-slider-centered" style="background-image:url(assets/img/slider/slide-01.jpg)">
                <h1 class="light wow fadeInDown text-center"><span class="small dark-with-shadow">AMBER</span><br> <span class="light-with-shadow">bottle set</span></h1>
                <a class="btn btn-primary wow fadeInUp mt-30">browse <span class="ti-arrow-right light"></span></a>
            </div>

          </div>
          <!-- Add Pagination -->
          <div class="home-slider-pagination"></div>
          <span class="ti-angle-left home-slider-prev"></span>
          <span class="ti-angle-right home-slider-next"></span>
        </div>
      </div>
      <!-- / HOME SLIDER -->
      


      <div class="col-md-12">
        <!-- PRODUCTS ROW -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 mt-30 mb-30 width-100 pull-left">
              <h3>new products <span class="text-muted small smartphone-inline-fw">default listing</span>
                <a href="#" class="x-small pull-right mt-10">see more <span class="ti-arrow-right"></span></a>
              </h3>   
            </div>
          </div>
          <% @items.each do |item| %>
          <div class="row">
            <!-- PRODUCT SINGLE -->
            <div class="col-md-3 col-sm-6">
              <div class="product-item">
                <div class="product-item-thumbnail text-center mb-15">
                  <a class="product-item-thumbnail-link" href="#"></a>
                  <span class="product-item-thumbnail-label">new</span>
                  <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                  <div class="product-item-thumbnail-overlay">
                    <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                    <a href="#" class="btn btn-primary">add to cart</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <a class="h5" href="#"><%= item.title %></a>
                  </div>

                  <div class="col-xs-6 text-right">
                    <del class="h5 text-muted product-item-price-old"><%= item.price %></del>
                    <span class="h5 product-item-price">$49.00</span>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
        <!-- INFO ROW -->
        <div class="container-fluid mt-60 mb-30">
          <div class="row">
            <!-- HORIZONTAL SEPARATE -->
            <div class="col-md-12">
              <div class="separate mb-60"></div>
            </div>
          </div>
          <div class="row">
            <!-- / HORIZONTAL SEPARATE -->
            <!-- SINGLE INFO BOX -->
            <div class="col-md-3 info-box">
              <span class="ti-mobile info-box-icon mt-10 mr-10"></span>
              <h5 class="info-box-text">Service hotline<br>
                <span class="text-muted">+48 123 444 888</span>
              </h5>   
            </div>
            <!-- SINGLE INFO BOX -->

            <!-- SINGLE INFO BOX -->
            <div class="col-md-3 info-box">
              <span class="ti-mobile info-box-icon mt-10 mr-10"></span>
              <h5 class="info-box-text">Secure<br>
                <span class="text-muted">Payment</span>
              </h5>   
            </div>
            <!-- SINGLE INFO BOX -->

            <!-- SINGLE INFO BOX -->
            <div class="col-md-3 info-box">
              <span class="ti-mobile info-box-icon mt-10 mr-10"></span>
              <h5 class="info-box-text">Free<br>
                <span class="text-muted">return</span>
              </h5>   
            </div>
            <!-- SINGLE INFO BOX -->

            <!-- SINGLE INFO BOX -->
            <div class="col-md-3 info-box">
              <span class="ti-mobile info-box-icon mt-10 mr-10"></span>
              <h5 class="info-box-text">Free Shipping<br>
                <span class="text-muted">from $10</span>
              </h5>   
            </div>
            <!-- SINGLE INFO BOX -->
          </div>
          <div class="row">
            <!-- HORIZONTAL SEPARATE -->
            <div class="col-md-12">
              <div class="separate mt-60"></div>
            </div>
            <!-- / HORIZONTAL SEPARATE -->
          </div>
        </div>
        <!-- / INFO ROW -->
        <!-- HOME SPECIAL -->
        <div class="container-fluid mt-60">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 mb-30">
                  <div class="promo-box">
                    <img src="assets/img/products/composition-1.jpg" class="img-responsive" alt="product image">
                    <div class="promo-box-content">
                      <div class="text-center mr-30">
                        <h3 class="mb-15 light">mid season<br>sale!</h3>
                        <a href="#" class="btn btn-primary">details <span class="ti-angle-right"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 mb-30">
                  <div class="promo-box">
                    <img src="assets/img/products/composition-2.jpg" class="img-responsive" alt="product image">
                    <div class="promo-box-content">
                      <div class="text-center mr-30">
                        <h3 class="mb-15 light">new<br>sizes!</h3>
                        <a href="#" class="btn btn-primary">details <span class="ti-angle-right"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--/ HOME SPECIAL  -->
        <!-- PRODUCTS ROW -->
        <div class="container-fluid mt-30">
          <div class="row">
            <div class="col-md-12 mb-30 pull-left">
              <h3>featured products <span class="text-muted small smartphone-inline-fw">default listing</span>
                <a href="#" class="x-small pull-right mt-10">see more <span class="ti-arrow-right"></span></a>
              </h3> 
            </div>
          </div>
          <div class="row">
            <!-- PRODUCT SINGLE -->
            <div class="col-md-4 col-sm-6">
              <div class="product-item">
                <div class="product-item-thumbnail text-center mb-15">
                  <a class="product-item-thumbnail-link" href="#"></a>
                  <span class="product-item-thumbnail-label">new</span>
                  <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                  <div class="product-item-thumbnail-overlay">
                    <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                    <a href="#" class="btn btn-primary">add to cart</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <a class="h5" href="#">Product name</a>
                  </div>

                  <div class="col-xs-6 text-right">
                    <del class="h5 text-muted product-item-price-old">$99.00</del>
                    <span class="h5 product-item-price">$49.00</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- / PRODUCT SINGLE-->
            <!-- PRODUCT SINGLE -->
            <div class="col-md-4 col-sm-6">
              <div class="product-item">
                <div class="product-item-thumbnail text-center mb-15">
                  <a class="product-item-thumbnail-link" href="#"></a>
                  <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                  <div class="product-item-thumbnail-overlay">
                    <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                    <a href="#" class="btn btn-primary">add to cart</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <a class="h5" href="#">Product name</a>
                  </div>

                  <div class="col-xs-6 text-right">
                    <del class="h5 text-muted product-item-price-old">$99.00</del>
                    <span class="h5 product-item-price">$49.00</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- / PRODUCT SINGLE-->
            <!-- PRODUCT SINGLE -->
            <div class="col-md-4 col-sm-6">
              <div class="product-item">
                <div class="product-item-thumbnail text-center mb-15">
                  <a class="product-item-thumbnail-link" href="#"></a>
                  <span class="product-item-thumbnail-label">new</span>
                  <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                  <div class="product-item-thumbnail-overlay">
                    <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                    <a href="#" class="btn btn-primary">add to cart</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <a class="h5" href="#">Product name</a>
                  </div>

                  <div class="col-xs-6 text-right">
                    <del class="h5 text-muted product-item-price-old">$99.00</del>
                    <span class="h5 product-item-price">$49.00</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- / PRODUCT SINGLE-->
          </div>
        </div>
        <!-- / PRODUCTS ROW -->

        

       
        <!-- ARTICLE LIST -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 mb-30 pull-left">
              <h3>latest post <span class="text-muted small smartphone-inline-fw">default listing</span>
                <a href="#" class="x-small pull-right mt-10">see more <span class="ti-arrow-right"></span></a>
              </h3> 
            </div>
          </div>
          <div class="row">
            <!-- SINGLE POST ITEM  -->
            <div class="col-md-4">
              <a href="#">
                <img src="assets/img/blog/cover-01.jpg" class="width-100" alt="cover image">
                <h4 class="mt-30 mb-20">
                Excepteur sint occ aecat cup idatat non
                proident.<br>
                <span class="x-small text-muted">category: new products | 22.02.2017</span></h4>
                <p> Sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </p>
              </a>
              <a class="btn btn-link pull-right text-right pr-0" href="#">read more <span class="ti-arrow-right"></span></a>
            </div>
            <!-- / SINGLE POST ITEM  -->
            <!-- SINGLE POST ITEM  -->
            <div class="col-md-4">
              <a href="#">
                <img src="assets/img/blog/cover-01.jpg" class="width-100" alt="cover image">
                <h4 class="mt-30 mb-20">
                Excepteur sint occ aecat cup idatat non
                proident.<br>
                <span class="x-small text-muted">category: new products | 22.02.2017</span></h4>
                <p> Sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </p>
              </a>
              <a class="btn btn-link pull-right text-right pr-0" href="#">read more <span class="ti-arrow-right"></span></a>
            </div>
            <!-- / SINGLE POST ITEM  -->
            <!-- SINGLE POST ITEM  -->
            <div class="col-md-4">
              <a href="#">
                <img src="assets/img/blog/cover-01.jpg" class="width-100" alt="cover image">
                <h4 class="mt-30 mb-20">
                Excepteur sint occ aecat cup idatat non
                proident.<br>
                <span class="x-small text-muted">category: new products | 22.02.2017</span></h4>
                <p> Sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </p>
              </a>
              <a class="btn btn-link pull-right text-right pr-0" href="#">read more <span class="ti-arrow-right"></span></a>
            </div>
            <!-- / SINGLE POST ITEM  -->
          </div>
        </div>
        <!-- / ARTICLE LIST -->
        
      </div>
    </div>
  </div>

